/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", sans-serif;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: #1f1f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  color: white;
  width: 80%;
  max-width: 1920px;
  overflow-x: hidden;
}

section {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #1f1f1f;
}

.navbar {
  width: 100vw;
  z-index: 1000;
  padding: 0 5%;
  position: fixed;
  top: 0;
  background-color: maroon;
  height: 66px;
  border-bottom: 1px solid white;
  margin-bottom: 100px;
}

.navbar-nav {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: transparent;
}

.navbar-toggler {
  color: white;
}

.navbar-collapse {
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navbar-brand {
  color: white;
  font-size: 30px;
  font-family: "Raleway";
  font-size: 800;
}

.navbar-brand:hover {
  text-decoration: none;
  color: white;
}

.nav-link {
  margin-left: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  color: rgb(235, 233, 233);
  z-index: 99;
  padding-bottom: 5px;
}

.nav-link:hover {
  padding-bottom: 0px;
  color: white;
  border-width: 100;
  border-bottom: 5px solid white;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;

  /* padding-bottom: 3px; */
}

.contact-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-scroll {
  margin-top: 20px;
}

.active {
  font-weight: 700;
  text-decoration: underline;
}

.show {
  z-index: 99;
}
#fs-frm [type="submit"] {
  background-color: maroon;
  border: none;
  width: auto;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 75vw;
  max-width: 800px;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm ::-webkit-input-placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: baseline;
  align-items: baseline;
}
#fs-frm ::-moz-placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: flex;
  align-items: baseline;
}
#fs-frm :-ms-input-placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
}
#fs-frm ::-ms-input-placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
  align-items: baseline;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
  padding-top: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border-bottom: 1px solid white;
  background-color: transparent;
  padding: 0.75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  border-bottom: 3px solid white;
  background-color: transparent;
  outline: none;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 0.5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 60%;
}
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 36%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}

section {
  --animate-duration: 1.5s;
}

.phone-icon {
  height: 45px;
  -webkit-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.phone-icon_right {
  -webkit-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}

.call-button {
  background: maroon;
  border-radius: 46px;
  padding: 10px;
  color: white;
}

.intro {
  width: 100vw;
  height: 75vh;
  margin-top: 66px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.intro-text {
  font-weight: 700;
  width: 100%;
  /* text-shadow: 2px 2px maroon; */
  background-color: rgba(245, 245, 245, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 3.5em;
}

ul {
  list-style: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 6%;
  right: -15px;
}

footer.response {
  transition: linear .2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: revert;
  transform: scale(2);
}

#facebook {
  height: 20px;
  margin: 3px 12px;
}

#telephone,
#email {
  color: white;
  padding: 3px 12px;
  font-size: 12px;
}

#telephone,
#email {
  /* width: 200px;
  bottom: 58px;
  left: 135px;

  color: white;
  font-size: 14px; */
}

#telephone {
  /* bottom: 86px; */
}

.reviews-list,
.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  width: 100vw;
  max-width: 1200px;
}

#sectionCustomHomes {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

#sectionHome {
  background-image: url(../img/backdrop.jpg);
  background-size: cover;
  text-align: center;
  padding: 40px 0;
}

#sectionHome h1 {
  font-weight: 800;
}

#sectionHome h4 {
  font-weight: 500;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#js-form-response {
  margin: 60px;
  padding: 0 0 80px 0;
  text-align: center;
}

.reviews-list li {
  padding: 20px;
  margin: 0 20px;
}

.about-info {
  padding: 40px;
  width: auto;
}

#sectionReviews,
#sectionAbout {
  padding-top: 10px;
  width: 100vw;
  background-color: maroon;
  color: white;
  padding: 30px;
}

#sectionReviews {
  background-color: rgba(245, 245, 245, 0.904);
  color: black;
}

#sectionAbout {
  padding: 40px 10%;
}

.about-container {
  padding: 10px;
  background-color: rgba(128, 0, 0, 0.644);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#sectionServices {
  width: 100vw;
  padding: 40px 10%;
  background-color: rgba(245, 245, 245, 0.904);
  color: black;
}

.services-title {
  margin-bottom: 40px;
  font-weight: 700;
}

.service-group {
  padding: 0;
}

.list-group-item {
  padding: 10px 0 10px 10px;
}

.list-group-item-dark {
  background-color: maroon;
  color: white;
}

.list-group-item-dark:hover {
  background-color: rgba(128, 0, 0, 0.699);
}

.list-group-item.active {
  z-index: 0;
}

.tab-pane {
  text-decoration: none;
  font-weight: 400;
}

.about-pic {
  float: left;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.603);
  width: 100%;
  left: 0;
  z-index: 0;
}

.carousel-indicators {
  top: 74%;
}

.carousel {
  width: 67vw;
}

.list-group-item-dark.list-group-item-action:hover {
  color: black;
  font-weight: 700;
  background-color: rgba(128, 0, 0, 0.247);
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
}

@media all and (max-width: 590px) {
  #fs-frm fieldset.locale input[name="city"] {
    width: 100%;
  }
  #fs-frm fieldset.locale input[name="postal-code"] {
    width: 100%;
  }
  h1 {
    font-size: 33px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 20px;
    font-weight: 400;
  }
  .intro {
    height: 40vh;
  }
  .about-pic {
    margin-top: 10px;
  }
  .about-info {
    padding: 10px 0 0 0;
  }
  .carousel-indicators {
    top: 60%;
  }
}

@media all and (max-width: 900px) {
  .reviews-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .reviews-list li {
    padding: 20px 0;
    margin: 0;

    border-bottom: 1px black dashed;
  }
}

@media all and (max-width: 991px) {
  .navbar-collapse {
    background-color: whitesmoke;
    position: absolute;
    right: 0px;
    padding: 20px;
    top: 65px;
    border-radius: 1px;
  }
  .nav-link {
    color: #333;
    font-size: 15px;
  }
  .nav-link:hover {
    color: #333;
    border-color: #333;
  }
  .navbar-brand {
    font-size: 25px;
    font-family: "Raleway";
    font-size: 800;
  }
}

@media all and (max-width: 1240px) {
  .navbar {
    padding: 0 15px;
  }
  .carousel {
    width: 90vw;
  }
}

@media all and (min-width: 1240px) and (max-width: 1800px) {
  .carousel {
    width: 70vw;
  }
}

@media all and (min-width: 2100px) {
  .carousel {
    width: 60vw;
  }
  .navbar {
    padding: 0 25%;
  }
}
